@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_InnerPage.cshtml";
}
<h2>@ViewBag.Title</h2>

<p>A Student Management System, school administration software or student administration system is a management information system for education establishments to manage student data. Student information systems provide capabilities for registering students in courses; documenting grading, transcripts, results of student tests and other assessment scores; building student schedules; tracking student attendance; and managing many other student-related data needs in a school.</p>
